*{
    margin: 0;
    padding: 0;
}
body{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
@media only screen (min-height: 800px) and (max-height: 1060px){
    margin-top: 35px;
}
